.table-content table td.product-thumbnail a img{
  min-width: 74.22px;
}
.table-content table td.product-name a,
.table-content table td.product-remove a{
  transition: all .1s ease-out 0s !important;
}
.table-content table td.product-name a:hover{
  color: #e02c2b !important;
}
.table-content table td.product-remove a:hover{
  color: #e02c2b !important;
}
.grand-totall{
  padding-top: 1rem;
}