/* HEADER TOP - HOME */
.hphom{
	&__sec{
		/* BANNER DE ANUNCIO */
		&--cBnnadd{
			background-color: $theme-clr-tertiary;
			&__c{
				&__cont{
					&__sec{
						&--cTitle{
							h3{
								color: #fff;
						    margin: 9px 0 0;
						    text-align: center;
						    font-size: 21px;
						    line-height: 57px;
						    font-weight: 400;
						    display: flex;
						    align-items: center;
						    justify-content: center;
						    flex-flow: wrap row;
						    text-align: center;
						    span, strong{
						    	font-size: 30px;
    							font-weight: 700;
						    }
							}
						}
					}
				}
			}
		}
		/* NAVEGACIÓN DE MENÚS */
		&--cHTNav{
			&__c{
				&__cont{
					&--cLogo{
						@media (max-width: 920px){
							flex: 0 0 40% !important;
					    width: 40% !important;
					    max-width: 40% !important;
						}
						&__c{
							@media (max-width: 920px){
								margin: 0 0 0px !important;
    						text-align: center !important;
							}
							&--cLink{
								display: flex;
								align-items: flex-start;
								justify-content: flex-start;
								flex-flow: wrap row;
								max-width: 150px;
							}
						}
					}
					&--cMenus{
						@media (max-width: 920px){
							display: none;
						}
						&__c{
							&__nav{
								&--m{
									&--i{

									}
									&--link{
										color: #2f333a !important;
										&.menu-cart{
											background: $theme-clr-tertiary;
									    padding-left: 13px;
									    padding-right: 15px;
									    border-radius: 15px;
									    span{
									    	color: #fff;
									    }
										}
									}
								}
							}
						}
					}
					&--cLinkMenus{
						&.bloq{
						  display: flex;
					    align-items: center;
					    justify-content: flex-end;
							@media (max-width: 920px){
								flex: 0 0 60%;
	    					max-width: 60%;
							}
						}
						.header-wishlist{
							position: relative;
							margin-left:10px;
							display: flex;
							align-items: center;
							justify-content: center;
							.wishlist-text{
								.pedido{
							    font-weight: 700;
							    font-size: 17px;
								}
							}
							& > a{
								display: flex;
								align-items: center;
								justify-content: center;
							}
						}
						.header-login{
							position: relative;
							margin-left:10px;
							display: flex;
							align-items: center;
							justify-content: center;
							& > a{
								display: flex;
								align-items: center;
								justify-content: center;
							}
						}
						.header-cart{
							position: relative;
							margin-left:10px;
							display: flex;
							align-items: center;
							justify-content: center;
							& > a{
								display: flex;
								align-items: center;
								justify-content: center;
							}
						}
						@media (max-width: 920px){
							.wishlist-text{
								display: none;
							}
							.login-text-content{
								display: none;
							}
							.cart-text{
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
/* CAROUSEL BANNERS - HOME */
.hpbannerhom{
	&__sec{
		&__c{
			max-height: 327px;
			height: 327px;
			img{
				height: 100%;
				object-fit: fill;
				object-position: center;
			}
		}
	}
}



/* CUSTOMS STYLES */
.footer-bottom-area{
  padding: 22px 0 24px;
  background: #000;
}
.footer-title{
	& > h4{
		font-weight: 700 !important;
	}
}
.footer-time{
	ul{
		li{	
			span{
				color: $theme-clr-tertiary;
			}
		}
	}
}