/* VARIABLES GLOBALES PARA EL TEMA */
	/* FUENTES */
	// $font-family-1											: 'Poppins', sans-serif;
	$font-family-1											: 'Roboto', sans-serif;
	$font-family-2											: 'Rubik', sans-serif;
	// $font-family-3											: 'Days One', sans-serif;
	$font-family-3											: 'Arial', sans-serif;

	/* ANCHOS DE PANTALLA */
	$max-width													: 1400px;
	$max-width-boostrap									: 1300px;
	$max-width-redx											: 960px;
	$max-width-footer										: 1320px;

	/* COLORS - THEME */
	$theme-clr-primary									: #006B78;
	$theme-clr-secondary								: #00A726;
	$theme-clr-tertiary									: #F60715;
	$theme-clr-btns											: #B80F0F;
	$theme-clr-btns-border							: #B80F0F;
	$theme-clr-btns-hover								: #FF5151;
	$theme-clr-btns-txt									: #fff;
	$theme-clr-paragraph-light					: #CFCCCF;
	$theme-clr-paragraph								: #8E8E8E;
	$theme-clr-paragraph-black					: #414547;
	$theme-clr-frm											: #017A6F;
	$theme-clr-frm-btn									: #009688;
	$theme-clr-frm-btn-hover						: #55B9AF;
	$theme-clr-frm-btn-calc							: #36A52C;
	$theme-clr-frm-btn-calc-hover				: #79C372;
	$theme-clr-frm-btn-clean						: #E12F31;
	$theme-clr-frm-btn-clean-hover			: #EB7475;
	$theme-clr-header-links							: #FFFFFF;
	$theme-clr-header-fix-links					: #000000;
	$theme-clr-header-fix-bg-links			: #F5F5F5;
	$theme-clr-btn-visitweb							: steelblue;
	$theme-clr-rate-asc									: #3DA332;
	$theme-clr-rate-des									: #D2272A;
	$theme-clr-bgtitle									: #C8E1C4;
	$theme-clr-btn-linkinit							: #007ABE;
	$theme-clr-btns-tabs								: #E41A25;
	$theme-clr-btns-tabs-hover					: #ED666D;
	$theme-clr-icons-tabs								: #FFFFFF;
	$theme-clr-btns-sliders							: #E84D56;

	$theme-clr-links-primary						: #E02C35;